<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Service</title>
</head>
<body>
    <h1>ADD New Book Details</h1>
    <form action="" method="POST">
        <label for="">ID:</label>
        <input type="text" name="id" required id="">
        <label for="">NAME:</label>
        <input type="text" name="book_name" required id="">
        <label for="">AUTHOR:</label>
        <input type="text" name="book_author" required id="">
        <input type="submit" value="save Details">
    </form>
</body>
</html>